.distroList {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column: auto;
    padding: 10px;   
}
.distroListImage {
    width: 6em;
}

.distroListBlurb {
    font-size: 0.5em;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }